/* import font */
@font-face {
	font-family: ProximaNova;
	src: url(../fonts/ProximaNova.otf);
}
@font-face {
	font-family: SourceSerifPro;
	src: url(../fonts/SourceSerifPro.otf);
}

/*********       Base styles          ********/
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	font-family: ProximaNova;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
.white {
	color: #fff;
}
.fa {
	cursor: pointer;
}

/********               Header section        *********/
#header-section {
	background: url(../images/careerListIMG/header.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
	position: relative;
}
.container-fluid {
	padding: 30px 90px 0 122px;
}
.nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.flex-ul ul {
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flex-ul a {
	color: #fff;
	font-size: 15px;
	opacity: 0.9;
}
.flex-ul a:hover {
	opacity: 1;
}

.border-link {
	border-radius: 8px;
	border: solid 1px #fff;
	padding: 10px 20px;
}
.header-back-btn {
	list-style: none;
}
.header-back-btn a {
	opacity: 0.8;
	text-decoration: none;
}
.header-back-btn a:hover {
	color: #fff;
}
.header-back-btn:active {
	transform: translateX(10px);
}

.back-icon {
	border: 1px solid #fff;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 13px;
	opacity: 0.5;
}
.question-icon {
	display: none;
}

.span-line {
	border-right: 1px solid #fff;
	margin: 0 0 0 40px;
	padding: 8px 0;
}

.fa-level-up {
	font-size: 13px;
}
span.toggle-icon {
	border: none;
	color: #fff;
	font-size: 23px;
	text-decoration: none;
}
span.toggle-icon:hover {
	color: #fff;
}
.nav-icon {
	color: #fff;
	font-size: 30px;
	display: none;
}
.nav-icon:hover {
	color: #fff;
	opacity: 0.7;
}
.hopper-logo {
	display: none;
}
h1.header-text {
	font-size: 3rem;
	line-height: 69px;
	padding-right: 30%;
	padding-top: 50px;
}

/*******              filters section         **********/
#filters-con {
	background: #fff;
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
	font-weight: normal;
	text-align: center;
	height: 150px;
	width: 80%;
	position: absolute;
	top: 74%;
	left: 0;
	right: 0;
	padding: 50px 30px;
	margin: 0 auto;
}

.in-filters {
	text-align: center;
}

button {
	width: 250px;
	height: 45px;
	border: 0.5px solid #878787;
	border-radius: 8px;
	font-size: 1rem;
	background-color: #fff;
	color: #505050;
}

button.filters-btn {
	text-align: left;
	padding-left: 15px;
	outline: none;
}

.btn-icon {
	position: absolute;
	left: 82%;
	top: 16px;
}

.filters-NOborder-btn {
	border: none;
	text-align: right;
	outline: none !important;
}

.search-icon {
	position: absolute;
	top: 16px;
	left: 83%;
	color: #505050;
}

input.filters-search {
	width: 250px;
	height: 45px;
	outline: none;
	border-radius: 8px;
	border: 0.5px solid #878787;
}

/**********             Table section         ********/
#desktop-table {
	padding: 8rem 0;
	background: #fafafa;
}
.mobile-table {
	display: none;
}
.table-con {
	width: 1030px;
	overflow-y: scroll;
	margin: 0 auto;
}
.table-scroll {
	overflow-y: scroll;
	height: 600px;
}
tr th {
	color: #505050;
	font-size: 18px;
	line-height: 22px;
}
tbody tr:hover {
	background: #ffffff;
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
tbody tr:active {
	transform: translatex(4px);
}
tr td {
	color: #8c939c;
	font-size: 16px;
	line-height: 22px;
}
td i.fa-arrow-right {
	color: #000;
	position: relative;
}

.table-icon {
	position: absolute;
	left: 108px;
	top: 0;
}

.span {
	visibility: hidden;
}

/*******               Perks Section          *******/

/* desktop section */
.desktop-view {
	background: #fff;
	padding: 7rem 1rem 3rem 4rem;
	width: 90%;
	text-align: left;
	margin-bottom: 10rem;
}
.dktop-perks {
	margin: 30px 0;
	background: #ffffff;
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
	width: 350px;
}
.dktop-perks img {
	width: 100%;
	margin-bottom: 20px;
}
.dktop-perks h4 {
	font-size: 17px;
	line-height: 22px;
	color: #555555;
	padding: 0 1rem;
}
.dktop-perks p {
	font-size: 13px;
	line-height: 22px;
	color: #878787;
	padding: 0 3rem 0 1rem;
}
/* mobile section */
.mobile-view {
	display: none;
	background: #fff;
}


/* .fixed-footer-nav {
	display: none;
} */



/* FOOTER */
.footer-large {
	display: none;
	padding-bottom: 2rem;
  }
  .footer-mobile {
	display: flex;
  }
  .footer-container {
	width: 100vw;
	padding: 5%;
  }
  .footer-mobile {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 13rem;
  }
  
  .footer-mobile-options,
  .footer-mobile .option-container,
  .footer-mobile .language,
  .footer-mobile .social,
  hr {
	width: 100%;
	color: #505050;
	margin-bottom: 2rem;
  }
  
  .footer-mobile .hooper,
  .footer-mobile .company,
  .footer-mobile .people,
  .footer-mobile .support,
  .footer-mobile .media,
  .footer-mobile .social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 0;
	padding: 0.5rem 0;
	border-bottom: 1px solid #878787;
  }
  .footer-mobile .company div {
	display: flex;
	align-items: center;
  }
  .footer-mobile .plus-btn {
	font-weight: 900;
	padding: 0 0.3rem;
	transition: 0.5s;
  }
  .footer-mobile .plus-btn:hover {
	cursor: pointer;
	color: #fa6866;
  }
  
  .footer-mobile .company .notification {
	font-size: 0.7rem;
	background-color: #fa6866;
	padding: 0 0.5rem;
	border-radius: 8px;
	color: #fff;
	margin-left: 1rem;
  }
  
  .footer-mobile .social {
	border-bottom: none;
	margin-bottom: 2rem;
  }
  .footer-mobile .language select {
	width: 100%;
	padding: 0.5rem;
	border-radius: 5px;
  }
  .footer-mobile .terms {
	text-align: center;
	border-bottom: 1px solid #505050;
	margin-bottom: 2rem;
	align-self: center;
  }
  .footer-mobile .footer-bottom {
	align-self: center;
	margin: -1rem 0 1rem;
	color: #aaa;
	font-size: 12px;
  }
  
  .footer-mobile hr {
	color: #505050;
  }
  .footer-mobile .option-container .hide {
	display: none;
  }
  .footer-mobile .option-container a {
	display: block;
	margin: 0.3rem 0 0.3rem 0.3rem;
	color: #aaa;
  }
  .footer-mobile .option-container a:hover {
	color: #fa6866;
  }

  @media only screen and (min-width: 768px) {
	.container {
		/* background-color: #01aae4; */
		padding: 0 8%;
	  }
  /* RESPONSIVE FOOTER */
  /* FOOTER */
  .footer-mobile {
    display: none;
  }

  .footer-large {
    display: block;
    width: 100%;
    position: relative;
  }
  .footer-large-first,
  .footer-large-second {
    color: #878787;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .footer-large-first .option-title,
  .footer-large-second .options {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    z-index: 2;
  }
  /* .footer-large-first .option-title {
    border-bottom: 1px solid #f6f6f6;
  } */
  .footer-large .right {
    width: 65%;
  }
  .footer-large hr {
    color: #f6f6f6;
    position: absolute;
    top: 16%;
  }
  .footer-large .left {
    width: 35%;
  }
  .footer-large-first .option-title .option,
  .footer-large-second .options div {
    width: 20%;
    display: flex;
    flex-direction: column;
  }
  .footer-large-second .options div {
    font-size: 12px;
  }
  .footer-large-second .options {
    height: 100%;
  }
  .footer-large-second .options a {
    margin-top: 0.5rem;
    color: #878787;
  }
  .footer-large-second .options a:hover {
    color: #fa6866;
  }
  .footer-large-first .option-title h4 {
    align-self: flex-start;
    padding: 0.3rem 0;
  }
  .selected {
    border-bottom: 2px solid #505050;
  }
  .footer-large .language select {
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #505050;
    font-weight: 800;
    margin-left: 0.5rem;
  }
  .footer-large .options {
    display: flex;
  }
  .footer-large-social {
    display: flex;
    justify-content: space-between;
    width: 20%;
  }
}
