@media (max-width: 1230px) {
	/* changed nav layout */
	.nav {
		display: grid;
		grid-template-columns: 1fr 2fr;
		justify-content: baseline;
	}
	#header-section {
		background-image: none;
		background-color: #fa6866;
	}

	.filters {
		height: 259px;
	}
	.filters-box-con {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2em;
	}
	
}

/* ipad screen max width 950 */
@media (max-width: 950px) {
	.nav {
		display: flex;
		justify-content: space-between;
	}
	.nav-icon {
		display: block;
	}
	.flex-ul.responsive {
		transform: translateX(0);
	}
	.fa-close {
		display: none;
	}
	.flex-ul {
		position: absolute;
		top: 5rem;
		right: 0;
		background: #fa6866;
		transform: translateX(100%);
		transition: 500ms;
		z-index: 1;
	}
	.flex-ul ul {
		display: flex;
		flex-direction: column;
		padding: 0;
		min-width: 40%;
		padding-top: 10px;
		width: 50vw;
		height: 100vh;
		text-align: center;
	}
	.flex-ul ul li a {
		display: inline-block;
		padding: .5rem 2rem;
		margin: 20px 0;
		font-size: 1em;
	}
	.span-line {
		display: none;
	}
	.nav {
		order: 9999;
	}
	.back-btn-div {
		order: 1;
		/* transform: rotate(180deg); */
	}
}
@media (max-width: 730px){
	.filters-box-con {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.filters {
		height: 309px;
	}

}