

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: Quicksand;
	width: 1170;

}


.center {
	text-align: center;
}

.done-icon {
	margin-left: 274px;
	margin-top: 220px;
	margin-bottom: 40px;
}

.font-type1 {
	font-weight: bolder;
	font-size: 22px;
	line-height: 27px;
	color: #505050;
	width: 58%;
	margin-left: 130px;
}

.font-type2 {
	font-size: 16px;
	line-height: 22px;
	color: #878787;
	width: 58%;
	font-weight: 450;
	margin-left: 130px;
	margin-bottom: 34px;
}


}

button:focus {
	outline: none;
}

.button {
	width: 34%;
	border-radius: 8px;
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #01AAE4;
	border: none;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	margin-left: 200px;
}

.button:hover {
	background-color: #1a53ff;
}

.images {
	margin-left: 160px;
	margin-top: 200px;
	margin-bottom: 30px;
}

.playstore-img {
	margin-left: 60px;
}

.send-text {
	color: #808080;
	font-size: 14px;
	line-height: 19px;
	margin-left: 40px;
}








/* phone responsiveness **/

@media all and (max-width: 340px) {
	body {
		overflow-x: hidden;
		width: 100%;
	}

	.close {
		
	}

	.done-icon {
	padding-left: -50px;
	margin-top: 180px;
	
	
	}

	.font-type1 {
	font-size: 15px;
	width: 110%;
	margin-left: 10px;
	}

	.font-type2 {
	font-size: 13px;
	line-height: 20px;
	width: 110%;
	margin-left: 10px;
	}

	
	.button {
	width: 101%;
	border-radius: 10px;
	margin-right: 0px;
	margin-left: 20px;	
	}

	.images {
		margin-left: 0px;
		margin-top: 150px;
		margin-bottom: 30px;
	}

	.appstore-img {
		margin-left: 50px;
		margin-bottom: 20px;
		
	}

	.playstore-img {
		margin-left: 50px;
		margin-bottom: 10px;
		
	}



}

@media all and (max-width: 769px) {

	body {
		overflow-x: hidden;
		width: 100%;
	}

	.close {
		
	}

	.done-icon {
	margin-left: 150px;
	margin-top: 180px;
	
	}

	.font-type1 {
	font-size: 15px;
	width: 110%;
	margin-left: 10px;
	}

	.font-type2 {
	font-size: 13px;
	line-height: 20px;
	width: 110%;
	margin-left: 10px;
	}

	input {
	width: 100%;
	border-radius: 10px;
	padding-left: 0px;
	margin-left: 20px;
	text-align: center;
	margin-bottom: 10px;


	}


	.button {
	width: 101%;
	border-radius: 10px;
	margin-right: 0px;
	margin-left: 20px;	
	}

	.images {
		margin-left: 0px;
		margin-top: 150px;
		margin-bottom: 30px;
	}

	.appstore-img {
		margin-left: 70px;
		margin-bottom: 20px;
		
	}

	.playstore-img {
		margin-left: 70px;
		margin-bottom: 10px;
		
	}

	
}

@media all and (max-width: 1040px) {

	body {
		overflow-x: hidden;
		width: 100%;
	}

	.close {
		
	}

	.done-icon {
	margin-left: 240px;
	margin-top: 180px;
	
	}

	.font-type1 {
	font-size: 15px;
	width: 110%;
	margin-left: 10px;
	}

	.font-type2 {
	font-size: 13px;
	line-height: 20px;
	width: 110%;
	margin-left: 10px;
	}


	.button {
	width: 101%;
	border-radius: 10px;
	margin-right: 0px;
	margin-left: 20px;	
	}

	.images {
		margin-left: 0px;
		margin-top: 150px;
		margin-bottom: 30px;
	}

	.appstore-img {
		margin-left: 90px;
		margin-bottom: 20px;
		
	}

	.playstore-img {
		margin-left: 90px;
		margin-bottom: 10px;
		
	}

	
}

