* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.landingpage {
  font-family: "Proxima Nova", "Raleway", sans-serif;
}

.landingpage-background {
    background-image: url(../images/landingpage/Plane.png), url(../images/landingpage/background.png);
    background-size: 20%, cover;
    background-position: 15% 65%, right center;
    background-repeat: no-repeat;
}


.landingpage-container {
  /* background-color: #01aae4; */
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landingpage-title {
  font-size: 22px;
}
.landingpage-description {
  font-size: 14px;
}
.landingpage-top {
  display: flex;
  width: 100%;
  padding: 0 5%;
  justify-content: space-between;
  position: fixed;
}
.nav-btns,
.appleicon {
  display: none;
}
.landingpage-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  width: 84%;
  margin: 4rem 0 2rem;
}

.landingpage-description {
  margin: 1rem 0 2rem;
  color: #878787;
}
.download-btn {
  width: 100%;
  padding: 3% 0;
  border-radius: 0.5rem;
  border: 1px solid #01aae4;
  color: #fff;
  background-color: #01aae4;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in;
}
.download-btn:hover{
  color: #01aae4;
  border: 1px solid #01aae4;
  background-color: #fff;
}


@media only screen and (min-width: 768px) {
  .landingpage-content {
    width: 65%;
  }
  .landingpage-background {
    background-image: url(../images/landingpage/background.png);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
  }
  .nav-btns,
  .appleicon {
    display: none;
  }
  .download-btn {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .landingpage-background {
    background-image: url(../images/landingpage/Plane.png), url(../images/landingpage/background.png);
    background-size: 15%, 100% 105%;
    background-position: 65% center, top center;
    height: 100vh;
  }
  .landingpage-container{
    height: 100%;
  }
  .hamburgermenu,
  .support {
    display: none;
  }
  .nav-btns {
    width: 65%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    /* line-height: 28px; */
  }
  .nav {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
  }
  .nav-link {
    color: #fff;
    padding: 0.5rem 1rem;
  }
  .nav-link:hover{
    border: 1px solid #fff;
  }
  .sendapp-btn {
    border: 1px solid #fff;
    padding: 0.5rem 1rem;
  }
  .sendapp-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #30C1D2;
    border-color: 1px solid #30C1D2;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  }
.sendapp-btn:active{
  margin-top: 5px;
  box-shadow: none;
}
  .landingpage-content {
    align-self: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 40%;
    margin: 0;
    height: 100%;
    justify-content: center;
  }
  .landingpage-title {
    font-size: 2.5rem;
  }
  .landingpage-description {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
  }
  .appleicon {
    display: block;
    margin:8rem 0 1rem;
  }
  .download-btn {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (min-width: 1440px) {
  .landingpage-content {
    width: 34.5%;
  }
}
@media only screen and (min-width: 2560px) {
  .landingpage-title {
    font-size: 5rem;
  }
  .landingpage-content {
    width: 30.5%;
  }
}