/* Reset Elements */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Import Font*/
@font-face {
	font-family: proximaNova;
	src: url(../fonts/ProximaNova.otf);
}

@font-face {
	font-family: MetaSerifPro;
	src: url(../fonts/SourceSerifPro.otf);
}

/* Generals */
.grid,
.grid-large {
	display: grid;
}

.flex,
.flex-large {
	display: flex
}

.small-only {
	display: none;
}

svg {
	width: 30px;
	height: 30px;
}
/* specifics */
body {
	background: #fff;
}
header .wrapper {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

header .nav-scroll {
	grid-column: 1/5;
	justify-content: space-around;
	z-index: 1;
	background: #fff;
	margin-bottom: 4em;
	position: absolute;
	width: 100vw;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 1em 0 0.2em 0;
}

header .nav-scroll div {
	display: inline;
}

 .nav-scroll nav {
 	margin-left: 4em;
 	padding-left: 2em;
 	position: relative;
 	left: 11em;

 }
nav li {
	list-style: none;
	display: inline;
	margin-right: 2em;
	font-family: proximaNova, sans-serif;
	font-size: 12px;
}

.nav-scroll li:last-child {
	border-right: 1px solid #aaa;
	padding-right: 6em;
}

a {
	text-decoration: none;
}
nav a {
	color: #878787;
}


.send a {
	font-family: proximaNova, sans-serif;
	font-size: 14px;
	color: #01AAE4;
	margin-right: 1em;
}

.send img {
	align-self: baseline;
	vertical-align: middle;
}

.app-banner {
	grid-row: 2/3;
	grid-column: 2/4;
	
}

.app-banner img:last-child {
	padding: 0.5em;
	border-radius: 0 0 2em 2em;
	background: #fff;
	box-shadow: 0 10px 10px #aaa;
	position: relative;
	top: -0.9em;
}

.app-banner img:first-child {
	align-self: flex-start;
	position: relative;
	top: 1em;
}

main .wrapper {
	padding-top: 2em;
	background-image: url(../images/wave.png);
	background-size: cover;
	background-position: center;
}

.text {
	width: 49%;
	margin: 10em auto;
}

.text h2 {
	font-family: proximaNova, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #878787;
	
}

.text h3 {
	font-family: proximaNova, sans-serif;
	font-size: 42px;
	line-height: 49px;
	color: #000000;
	margin: 0.2em 0;
}

.text p {
	font-family: proximaNova, sans-serif;
	font-size: 24px;
	line-height: 32px;
	color: #878787;
}

.text a {
	color: #01AAE4;
	text-decoration: underline;
}
.features-icons {
	justify-content: center;
}

.feature {
	width: 13%;
}
.feature img{
	width: 60%;
}


/*People page*/
.nav-fixed {
	justify-content: space-around;
	align-items: center;
	width: 98%;
	padding: 0 4em 0 2em;
	margin: 2em auto;
}

.nav-fixed nav {
	position: relative;
	right: -13em;
	
}

.nav-fixed ul {
	margin-right: 10em;
}

.nav-fixed li {
	margin-right: 3em;
	color: #878787;
	font-family: proximaNova, sans-serif;
	font-size: 12px;
	line-height: 17px;
}
.nav-fixed li:last-child {
	border-left: 1px solid #aaa;
	padding-left: 3em;
	margin-left: 1em
}

.nav-fixed li > img {
	margin-left: 4px;
}

.people-send a {
	border: 1px solid #01aae4;
	border-radius: 8px;
	padding: 0.5em 2em;
	color: #01aae4;
	font-size: 14px;
	line-height: 20px;
	font-family: proximaNova, sans-serif;
	transition: 0.5s ease;
}

.people-send a:hover {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #01AAE4;
	color: #fff;
}
.header .wrapper {
	grid-template-columns: 1fr 1fr;
	width: 94%;
	margin: 10em auto;
}

.people-text {
	grid-column: 1/2;
	grid-row: 1/2;
	justify-self: center;
	position: relative;
	top: 2em;
	left: 4em;
	padding-right: 2em;
}

.people-text h2 {
	font-family: proximaNova, sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.4);
	margin-bottom: 1em;
}

.people-text quote {
	font-family: MetaSerifPro, sans-serif;
	font-size: 48px;
	line-height: 52px;
}

.people-text p {
	font-family: Proxima Nova;
	font-size: 16px;
	line-height: 22px;
	color: #000;
	margin-top: 1em;
}

.people-image {
	width: 100%;
	text-align: center;
	grid-column: 1/3;
	grid-row: 1/2;
}

.people-image img {
	width: 90%;
}

.section-two {
	justify-content: space-between;
	width: 80%;
	margin: 2em auto;
}

.section-two h2 {
	font-family: proximaNova, sans-serif;
	font-size: 42px;
	line-height: 49px;
}
.section-two > * {
	width: 50%;
}

.section-two p {
	margin-bottom: 2em;
	font-family: proximaNova, sans-serif;
	font-size: 16px;
	line-height: 23px;
	padding-right: 1em;
	color: #878787;
}
.test {
	border: 2px solid red;
}

/* Media Queries */
/* Minor */

@media screen and (max-width: 1200px) {
	.nav-scroll nav {
 	left: 5em;
 }
	.people-text {
		width: 95%;
		left: 2em;
	}
	.people-text quote {
	font-size: 40px;
	line-height: 50px;
}
}

@media screen and (max-width: 1050px) {
	.nav-scroll nav {
 	left: 2em;
 }
.people-text {
		width: 95%;
		left: 2em;
	}
.people-text quote {
	font-size: 36px;
	line-height: 40px;
}

.nav-fixed {
	/*justify-content: space-around;*/
	/*align-items: center;*/
	width: 100%;
	padding: 0 0 0 4em;
	justify-content: space-between;
}

.nav-fixed li {
	margin-right: 2em;
}

.people-send {
	width: 30%;
}

.nav-fixed nav {
	position: relative;
	left: 3em;
	width: 65%;
}

.people-send a {
	position: relative;
	left: -6em;
}

@media screen and (max-width: 945px) {
	.nav-scroll nav {
 	left: 0;
 }
	.nav-fixed nav {
		margin: 0;
		padding: 0;
	}

	.people-text quote {
	font-size: 30px;
	line-height: 35px;
}
	.section-two h2 {
		font-size: 36px;
		line-height: 45px;
	}
}
}

/* Major */
@media screen and (max-width: 870px) {
	body {
		background: #fff;
	}
	
	.header .wrapper {
    width: 100%;
}

#header_section .wrapper{
	position: relative;
	top: -2em;
}
	.background-grey {
		background: #f6f6f6;
		width: 100vw;
		height: 55vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -2;
	}
	.large-only {
		display: none;
	}

	.small-only {
		display: block;
	}

	.grid-large {
		display: block;
	}

	.flex-large {
		display: block;
	}

	.nav-scroll nav {
 	left: -2em;
 }

	.nav-fixed {
		position: fixed;
		top: 10px;
		justify-content: space-around;
		padding: 0;
		z-index: 2;
	}

	.nav-fixed .logo {
		margin: 0 4em;

	}
	
	.people-text {
		position: sticky;
		top: 100px;
		width: 50%;
		text-align: center;
		margin: 0 auto 6em;
		z-index: -1;
		background: #f6f6f6;
		padding-bottom: 2em;
	}

	.people-image {
		z-index: 1;
		background: #fff;
		box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.05);
		border-radius: 8px;
		margin-bottom: 0;
		position: relative;
		top: -2em;
	}

	.people-image img {
		margin: 0 auto;
	}

	.people-text quote {
		font-family: MetaSerifPro, sans-serif;
    	text-align: center;
    	font-size: 32px;
    	line-height: 35px;
    	color: #505050;
}
	.section-two {
		margin-top: 0;
	}

	.section-two h2 {
		margin-bottom: 1em;
		font-family: Proxima Nova;
font-size: 22px;
line-height: 27px;

color: #555555;
	}

	.section-two > * {
		width: 90%;
		margin: 0 auto;
	}

	#header_section {
		margin-bottom: 0;
	}

	#section_two {
		position: relative;
		top: -14em;
		padding-top: 6em;
		background: #fff;
	}
}

/* Modal */
#modal {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: -100vw;
	z-index: 3;
	transition: 0.5s ease;
}
#modal svg {
	fill: #FA6866;
	width: 20px;
	height: 20px;
	float: right;
	position: relative;
	top: -2em;
	right: -2em;
}

#modal .wrapper {
	width: 55%;
	background: #000;
	color: #fff;
	padding: 3em;
}
#modal nav {
	margin-top: 2em;
}
#modal li {
	display: block;
	list-style: none;
	font-size: 1em;
	margin: 1.5em 0;
}

/* From Life at Hopper Section */
.video-container {
    height: 630px;
    width: 100%;
    overflow: hidden;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr
}

video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.video-text {
	z-index: 4;
	grid-column: 1/2;
	justify-self: end;
	width: 85%;
	align-self: center;
	position: relative;
	left: 4em;
	color: #fff;
}

.video-text h2 {
	font-family: proximaNova;
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 0.2em;
}

.video-text p {
	font-family: proximaNova;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 1em;
}

.video-text button {
	background: transparent;
	border: transparent;
	text-decoration: underline;
	color: #fff;
	font-family: proximaNova;
	font-size: 16px;
	line-height: 23px;
}

.video-text svg {
	width: 16px;
	height: 16px;
	fill: #fff;
	margin-left: 0.5em;
}

.play-video {
	align-items: center;
}
.play-video:hover,
.play-video button:hover {
	cursor: pointer;
}

#values {
	width: 80%;
	margin: 8em auto;
}
.values-list {
	width: 50%;
}

#values h2 {
	width: 50%;
	font-family: proximaNova;
	font-size: 42px;
	line-height: 49px;
}

.value-item p{
	font-family: proximaNova;
	font-size: 18px;
	line-height: 22px;
	color: #878787;
	margin-bottom: 2em;
}

.value-item span {
	font-weight: bold;
	color: #000;
}